extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.nav(style='background-color: #24292f !important;')
        .container-fluid(style="padding: 12px 24px;")
            a(class="navbar-brand" href="#") 
                img(src='https://icon-library.com/images/github-icon-white/github-icon-white-6.jpg' style="width: 35px;")
            div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                div(class="navbar-nav")
                    input#example-search-input.form-control.py-2.navSearch(type='text' placeholder='Search or jump to...')
                    a(class="nav-link" href="#" style='color:white;') Pulls
                    a(class="nav-link" href="#" style='color:white;') Issues 
                    a(class="nav-link" href="#" style='color:white;') Marketplace
                    a(class="nav-link" href="#" style='color:white;') Explore
    div(style='background-color:#f6f8fa;')
        div.container
            div.row
                div.col(style='margin-top: 20px;')
                    a.projTitle Project_Name 
        div.row.tabs
            .col-sm.issueTab
                i.far.fa-scrubber
                p Issues
        hr(style='margin-top: 0px;')
    div.col-sm-11.subDiv
        div
            input(type='text' placeholder='Search').filterSearch
        div
            div
                button.p-2.btn.btn-light.filterBtns
                    i.fas.fa-tag.icons
                    | Labels 0
                button.p-2.btn.btn-light.btnMilestone Milestones 0
        div
            a(href="/issues/new").btn.btn-success.issueBtn New Issue

    div.col-sm-11(style='margin: auto; margin-top: 20px;')
        div.boxHead
            div(style='display: flex; align-items: center;')
                input(type='checkbox')(style="margin-right: 15px;")
                i.far.fa-scrubber.icons
                | #{issues.length} Open
            div(style='display: flex;')
                .dropdown
                    button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')(style='background: none; border: none; color: grey;')
                        | Label
                    .dropdown-menu(aria-labelledby='dropdownMenuButton')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here
                .dropdown
                    button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')(style='background: none; border: none; color: grey;')
                        | Assignee
                    .dropdown-menu(aria-labelledby='dropdownMenuButton')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here

        div.boxHead(style='display: flex; flex-direction: column; background: #fff; border-radius: 0 0 5px 5px; padding: 0; border: 0.2px solid #d0d7de;')
            if issues.length > 0 
            each issue in issues 
                div(style='display: flex; align-items: baseline; padding: 5px; border-top: 1px solid #d0d7de; ')
                    div
                        input(type='checkbox')(style="margin: 15px;")
                        i.far.fa-scrubber.icons(style='color: green; font-size: 20px; margin-right: 10px;')
                    div
                        a(href=`/issues/${issue.id}`)(style='font-weight: 600; font-size: 20px; text-decoration: none; color: #000;') #{issue.title}
                        p(style='margin: auto; color: #57606a; font-weight: normal;') ##{issue.id}

            else 
                div.boxBody
                    h3 There aren’t any open issues.
