extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.nav(style='background-color: #24292f !important;')
        .container-fluid(style="padding: 12px 24px;")
            a(class="navbar-brand" href="#") 
                img(src='https://icon-library.com/images/github-icon-white/github-icon-white-6.jpg' style="width: 35px;")
            div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                div(class="navbar-nav")
                    input#example-search-input.form-control.py-2.navSearch(type='text' placeholder='Search or jump to...')
                    a(class="nav-link" href="#" style='color:white;') Pulls
                    a(class="nav-link" href="#" style='color:white;') Issues 
                    a(class="nav-link" href="#" style='color:white;') Marketplace
                    a(class="nav-link" href="#" style='color:white;') Explore
    div(style='background-color:#f6f8fa;')
        div.container
            div.row
                div.col(style='margin-top: 20px;')
                    a.projTitle Project_Name 
        div.row.tabs
            .col-sm.issueTab
                i.far.fa-scrubber
                p Issues
        hr(style='margin-top: 0px;')
    
    div(style='display: flex;')
        div.col-sm-1 
        div.col-sm-9.newIssue
            form(action='/create-issue', method='POST')
                input(type='text' placeholder='  Title' name='title').issueTitle
                input#markdown-editor(type='textarea' value='' name='editor' placeholder='Leave a comment')
                button.btn.btn-success.btnSubmit Submit new issue

        //- div.col-sm-2
        //-     p(style='color: #57606a; font-weight: 600; font-size: 14px;') Assigness
        //-     hr
        //-     p(style='color: #57606a; font-weight: 600; font-size: 14px;') Labels

    script.
        const easyMDE = new EasyMDE({element: document.getElementById('markdown-editor')});